<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="resources/uvmicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <div class="header">
            <a href="/index" class="logo">
                <img src="/resources/uvm.png" alt="Logo">
                <p>UVM Forms</p>
            </a>
          
          <div class="header-right">
            
            <div class="formBuscar">
                <a id="buscar" style="padding: 0;">
                    <i class='bx bxs-search' id="searchIcon"></i>
                </a>
                <input type="text" placeholder="Buscar" id="textoBuscar">
            </div>

            <a href="#" id="inicio">Inicio</a>
            <a href="/index" id="formularios">Mis formularios</a>

            <% if(user == '') { %>
  
                <a href="#">Ingresar</a>
                <a href="#">Registrar</a>

            <% } else { %>

                <i class='bx bx-user-circle' id="profileIcon"></i> <p> <%- user %></p>
                
            <% } %>
          </div>
        </div>
      </header>


    <main>
        <div class="buttons">
        <a href=""><button id="logoutButton" class="logoutButton"><i class='bx bx-log-out' id="logoutIcon"></i>Cerrar sesión</button></a>
        </div>
        <p class="formsText">Resultado de la busqueda: "<%- titulo %>"</p>
        <div class="forms">

                <% for (i = 0; i < resultadoBusqueda.length; i++) { %>
                    <div class="cardForm">
                        <p class="formDescription"><b>Autor: <%= autor[i] %></b></p>
                        <p class="formTitle"><%= resultadoBusqueda[i].titulo %></p>
                        <p class="formDescription"><%= resultadoBusqueda[i].descripcion %></p>
                        <a href="/formularios/<%= resultadoBusqueda[i]._id %>" style="text-decoration: none; color: white; background-color: #88c426; padding: 10px; border-radius: 30px; margin-top: 20px;">Responder formulario</a>
                    </div>
                <% } %>

        </div>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script>
        const buscar = document.getElementById('buscar');
        const textoBuscar = document.getElementById('textoBuscar');

        function asignarURL() {
            const textoBuscarr = textoBuscar.value;
            buscar.href = '/busqueda/' + textoBuscarr;
        }

        buscar.addEventListener('click', asignarURL);

        textoBuscar.addEventListener("keydown", function(event) {

            if (event.keyCode == 13) {
                buscar.click();
            }
        });


    </script>

</body>
</html>