<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="resources/uvmicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <div class="header">
            <a href="/index" class="logo">
                <img src="/resources/uvm.png" alt="Logo">
                <p>UVM Forms</p>
            </a>
          
          <div class="header-right">
            <a href="#" id="inicio">Inicio</a>
            <a href="/index" id="formularios">Mis formularios</a>

            <% if(user == '') { %>
  
                <a href="#">Ingresar</a>
                <a href="#">Registrar</a>

            <% } else { %>

                <i class='bx bx-user-circle' id="profileIcon"></i> <p> <%- user %></p>
                
            <% } %>
          </div>
        </div>
    </header>

    <main>
        <h1 style="color: #860000; margin-bottom: 10px;"> <%- formulario.titulo %> </h1>
        <p> <%- formulario.descripcion %> </p>

        <p class="formsText">Respuestas</p>
        <div class="forms">


            <% if(respuestas == "") { %>

                <div class="cardFormNuevo"> 
                    <p class="formTitleNuevo"> No tienes respuestas</p>
                </div>

            <% }else{ %>
            <% for (i = 0; i < respuestas.length; i++) { %>
                <div class="cardFormResp">
                    <p class="formTitleResp"><%= respuestas[i].nombreUsuario %></p>
                    <% let todasRespuestas = respuestas[i].respuestas %>
                    <% for (f = 0; f < todasRespuestas.length; f++) { %>
                    <p class="formDescriptionResp"><b><%= todasRespuestas[f].textoPregunta %>: </b> <%= todasRespuestas[f].respuestaPregunta %></p>
                    <% } %>
                </div>
            <% } %>
            <% } %>

      
        </div>


    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>